body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.dashboard {
  display: grid;
  grid-template-columns: 230px 1fr;
  min-height: 100vh;
}

.sidebar {
  background-color: #00131a;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.side-bottom {
  background-color: #00394d;
  color: white;
  font-weight: bolder;
  padding: 40px;
}
.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #66b3ff;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar i {
  margin-right: 10px;
}

.main-content {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00131a;
  color: #fff;
  padding: 10px 20px;
}

.navbar h2 {
  margin: 0;
}

.navbar p {
  margin: 0;
}

.navbar .user-dropdown {
  position: relative;
}

.navbar .user-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.navbar .user-dropdown:hover .user-dropdown-content {
  display: block;
}

.navbar .menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 6px;
}

.widget {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    background-color: #333;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    flex-direction: column;
    gap: 10px;
  }

  .sidebar a {
    padding: 15px;
    text-align: left;
  }

  .sidebar h2 {
    margin-bottom: 10px;
  }

  .sidebar .menu-icon {
    display: block;
  }

  .main-content {
    width: 100%;
  }
}

/* table analytics css */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #92c9e6;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
